body{
    background-image: url(../img/Fondos/fondopremium.png);
    background-position: 40vw 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: blanchedalmond;
}