.h-vh{
    height: 50vh;
}
.slidert{
    font-variant: small-caps;
}
.control i{
    color: blue;
    font-size: 100px;
}
.card-img-top{
    height: 40vh;
}
@media screen and (max-width:720px){
    .carousel-caption.d-md-block.d-sm-block{
        font-size: smaller;
    }

}
@media screen and (max-width:380px){
    .carousel-caption.d-md-block.d-sm-block{
        font-size: 11px;
    }
    .h-vh{
        height: 60vh;
    }
}